SECRET_KEY_IMPORT=replace-with-strong-secret
SECRET_KEY_ANALYSE=replace-with-strong-secret
SECRET_KEY_VISU=replace-with-strong-secret

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432

REDIS_URL=redis://redis:6379/0

SERVICE_IMPORT_URL=http://service_import:8001
SERVICE_ANALYSE_URL=http://service_analyse:8002
SERVICE_VISU_URL=http://service_visu:8003

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
